h3 code {
	font-family: inherit ;
	font-size: inherit ;
}

pre, code {
	font-size: 12pt ;
}

span.apii {
	float: right ;
	font-family: inherit ;
	font-style: normal ;
	font-size: small ;
	color: gray ;
}

p+h1, ul+h1 {
	padding-top: 0.4em ;
	padding-bottom: 0.4em ;
	padding-left: 30px ;
	margin-left: -30px ;
	background-color: #E0E0FF ;
}

.utf8 {
	margin: 10px 10px ;
	padding: 10px ;
	color: #EE4444 ;
	background-color: #DDDDDD ;
}
